<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{title}}</title>

  <link href="{{uriPrefix}}/css/materialize-icon.css" rel="stylesheet">
  <link href="{{uriPrefix}}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/-->
</head>
<body>
  <nav class="navbar grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{logo.link}}" class="brand-logo orange-text thin">{{logo.text}}</a>
      <a href="#" data-target="mobile" class="sidenav-trigger orange-text thin"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down waves-effect waves-light thin">
        {{#each navbar}}
        <li><a href="{{link}}" class="orange-text">{{text}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <ul id="mobile" class="sidenav">
    {{#each navbar}}
    <li><a href="{{link}}" class="orange-text">{{text}}</a></li>
    {{/each}}
  </ul>

  <!--  Scripts-->
  <script src="{{uriPrefix}}/js/jquery.js"></script>
  <script src="{{uriPrefix}}/js/materialize.js"></script>
  <script src="{{uriPrefix}}/js/stream.js"></script>
  <script src="{{uriPrefix}}/js/underscore.js"></script>
  <script src="{{uriPrefix}}/js/nlinq.js"></script>

  <div class="section">
    <div class="container no-pad-bot s12">
      {{{contents}}}
    </div>
  </div>

  <footer class="page-footer white">
    <div class="container">
    </div>
    <div class="footer-copyright">
      <div class="container">
      <div class="right grey-text text-darken-1">Served by <a class="grey-text" href="{{served.link}}">{{served.text}}</a></div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
       M.Sidenav.init(document.querySelectorAll('.sidenav'));
    });
    window.onbeforeunload = function(event) {
       $.ajax({ async: false, type: 'GET', url: '{{uriPrefix}}/exec/quit', success: function(d) {}});
    }
  </script>

  </body>
</html>
